body {
	background-color: lightpink;
}
/* Barre de vie */
.vie
{
  margin-bottom: 10px;
  border: 1px solid black;
  background-color:red;
  height:200px;
  width:20px;
  border-radius:5px;
}
.chargement
{
  background-color:black;
  height:95%;
  
}
.coeur
{
    color:red;
    margin-top: -10px;
    padding-left: 2px;
}
/* Boutton */
#envoyer
{
  font-size: 30px;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background-color: black;
    color:#CCBD97;
    border:1px solid black;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    border-radius: 5px;
}
#envoyer:hover
{
    background-color: gray;
    color:black;
    border:1px solid gray;
}
#reset 
{
    background-color: black;
    border:1px solid transparent;
    color:#CCBD97;
    border-radius: 5px;
    margin-top: 2%;
    float: right;
}
#reset:hover
{
    background-color: gray;
}
header {

  background-image: url("../inspector.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
    background-color: #261F17;
  background-size: 
/*  background-color: blue; */
  
    
}

h1 { 

  color: #CCBD97;
  /* text-shadow: 2px 2px #000000; */
  font-size: 50px;
  padding-bottom: 10%;
  padding-top: 10%;
  text-shadow: 1px 1px #000000;

 }

 .regle {

  text-align: center;
  font-size: 200%;
  margin-top: 3%;
  margin-bottom: 3%;
 }

.toinou {
  width: 100%;
  height: 60px;
}

.plus {
  background-color: grey;
  color:black;
  font-size: 20px;
  border-radius: 5px;
}
.moins {
  background-color: grey;
  color:black;
  font-size: 20px;
  border-radius: 5px;
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
 header
 {
  background-color: black;
  background-image: url('');
 }
}
