.carrer
{
<<<<<<< Updated upstream
	
}
/* Barre de vie */
.vie
{
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  background-color:red;
  height:200px;
  width:20px;
  border-radius:5px;
}
.chargement
{
  background-color:black;
  height:35%;
  
}
.coeur
{
    color:red;
    margin-top: -10px;
    padding-left: 2px;
}
/* Boutton */
#envoyer
{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background-color: black;
    color:white;
    border:1px solid black;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
#envoyer:hover
{
    background-color: gray;
    color:black;
    border:1px solid gray;
}
#reset 
{
    background-color: skyblue;
    border:1px solid transparent;
    color:black;
}
#reset:hover
{
    background-color: lightblue;
}
header {

  background-image: url("../money.png");
/*  background-color: blue; */
  
    
}

h1 { 

  color: black;
  /* text-shadow: 2px 2px #000000; */
  font-size: 50px;
  padding-bottom: 10%;
  padding-top: 10%;
  text-shadow: 1px 1px #000000;

 }

 .regle {

  text-align: center;
  font-size: 200%;
  margin-top: 3%;
  margin-bottom: 3%;
 }

.toinou {
  width: 100%;
  height: 60px;
}

/* PLus / moins */
.erreur
{
    display: flex;
    flex-direction: column;
}
.plus
{
    background-color: grey;
}
.moins
{
    background-color: grey;
}