/* Paramètre global */
body
{
    padding: 0;
    margin: 0;
    background-color: burlywood;
}
.container
{
    margin-top: -20px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: burlywood;
}
/* Contenue du jeu */
.header
{
    background-color: black;
}
.header h2
{
    text-align: center;
    color:white;
    padding-top: 20px;
    padding-bottom: 20px;
    transition-property: color; /* Active la transition sur background-color */
    transition-duration: 1s; /* La transition dure 1s */
}
.header h2:hover
{
    color:grey;
}
.body
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -20px;
    background-color: white; 
    padding-top: 20px;
    padding-bottom: 20px;
    transition-property: background-color; /* Active la transition sur background-color */
    transition-duration: 1s; /* La transition dure 1s */
    
}
.body:hover
{
    background-color: grey;
}
.indicateur
{
    display: block;
    padding: 50px;
    background-color: darkgray;
    font-size: 40px;
}
.form
{
    display: flex;
    flex-direction: column;
}
.form input
{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
#valider, #rejouer
{
    background-color: white;
    color:black;
    border: 1px solid white;
}
@media (max-width: 793px)
{
    .container
    {
        padding-left: 0%;
        padding-right: 0%;
    }
}